.lexend-deca {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .body {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 15vh, 75vh, 10vh;
        gap: 0px, 0px;
        grid-template-areas: "header"
        "main"
        "footer";
    }

    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-height: fit-content;
    font-family: Lexend Deca;
}

body {
    background-color: #6b5d5d;
}

#contenido-3 {
    padding: 15px;
    text-align: center;
    position: relative;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    top: 45%;
    left: 50%;
    gap: 50px   ;
    width: 70%;
}

#contenidopreg {
    font-size: 50px;
    background-color: #6d0000;
    color: #f1faee;
    border-radius: 20px;
    justify-self: center;
    padding: 120px;
    width: 80%;
    padding-top: -20px;
}

#formosa {
    display: flex;
    flex-direction: row;
    gap: 70px;
    column-gap: 200px;
    justify-content: space-around;
    font-size: 30px;
    flex-wrap: wrap;
}

#but-1, #but-2, #but-3, #but-4 {
    background-color: #e63946;
    padding: 15px;
    border-radius: 20px;
    color: #f1faee;
    border: solid #6d0000;
    width: 400px;
    transition-duration: 0.4s;
}

#but-1:hover, #but-2:hover, #but-3:hover, #but-4:hover {
  border: solid #f1faee;
  width: 420px;
}

#logoutbut {
    padding: 4.5px;
    border-radius: 20px;
    align-items: flex-end;
    background-color: #e63946;
    color: #f1faee;
    border: solid #e63946;
    transition-duration: 0.4s;
    width: 150px;
    margin-top: 15%;
    margin-left: 30%;
} 

#logoutbut:hover {
    background-color: #6d0000;
    border: solid #6d0000;
    width: 170px;
}

#ruleta-2 {
    display: block;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#puntaje {
    background-color: #e63946;
    padding: 10px;
    color: #f1faee;
    border-radius: 20px;
    text-align: center;
    display: block;
    max-width: 150px;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 15px;
    height: 45px;
}

input {
    padding: 10px;
    border-radius: 20px;
    font-size: 30px;
    border: solid #6d0000;
    background-color: #e63946;
    color: #f1faee;
    transition-duration: 0.4s;
    width: 200px;
    margin-left: 45%;
    text-align: center;
    position: relative;
    top: 15%;
    left: 5%;
    transform: translate(-50%, -50%);
}

input:hover {
    background: #e63946;
    color: #f1faee;
    border: solid #f1faee;
    width: 230px;
}

#contenido-4 {
    display: none;
    flex-direction: row;
    gap: 30px;
}

#ranking {
    text-align: center;
    position: relative;
    background-color: #e63946;
    color: #f1faee;
    padding: 50px;
    margin-top: 50px;
    border-radius: 20px;
    left: 45%;
    width: 600px;
    transform: translate(-50%);
}

#ranking h2 {
    font-size: 80px;
    color: #6d0000;
}

#ranking ul {
    font-size: 60px;
    margin-left: -25px;
}

#btn-cerrar {
    padding: 5px;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: #6d0000;
    display: block;
    margin-left: 15px;
    transition-duration: 0.4s;
}

#btn-cerrar:hover {
    color: #f1faee;
}

#rankbut {
    margin-left: 85%;
    margin-top: -3.5%;
    padding: 4.5px;
    border-radius: 20px;
    background-color: #e63946;
    color: #f1faee;
    border: solid #e63946;
    transition-duration: 0.4s;
    width: 150px;
}

#rankbut:hover {
    background-color: #6d0000;
    border: solid #6d0000;
    width: 170px;
}