
.lexend-deca {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .body {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 15vh, 75vh, 10vh;
        gap: 0px, 0px;
        grid-template-areas: "header"
        "main"
        "footer";
    }

    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-height: fit-content;
    font-family: Lexend Deca;
}

body {
    background-color: #6b5d5d;
}

#ruleta {
    padding: 20px;
    text-align: center;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#puntaje {
    background-color: #e63946;
    padding: 10px;
    color: #f1faee;
    border-radius: 20px;
    text-align: center;
    display: block;
    max-width: 150px;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 15px;
}

input {
    padding: 10px;
    border-radius: 20px;
    font-size: 30px;
    border: solid #6d0000;
    background-color: #e63946;
    color: #f1faee;
    transition-duration: 0.4s;
    width: 200px;
    margin-left: 45%;
    text-align: center;
    position: relative;
    top: 15%;
    left: 5%;
    transform: translate(-50%, -50%);
}

input:hover {
    background: #e63946;
    color: #f1faee;
    border: solid #f1faee;
    width: 230px;
}

#logoutbut-2 {
    padding: 15px;
    border-radius: 20px;
    align-items: flex-end;
    background-color: #e63946;
    color: #f1faee;
    border: solid #e63946;
    transition-duration: 0.4s;
    width: 150px;
    margin-top: 200px;
    margin-left: 90%;
}

#logoutbut-2:hover {
    background-color: #6d0000;
    border: solid #6d0000;
    width: 170px;
}